*{
    margin: 0;
    padding: 0;
}
/* *{
    box-sizing: border-box;
} */
/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
.section-heading{  
    max-width: 827px;
    text-align: center;
    /* background-color: #181818; */
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* main style */
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url(../images/header_bg.png),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid salmon; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
    /* background-color: aqua; */
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align:center;
    align-items: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}
#about .about-container .about-info{
    max-width: 827px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
}
#about .about-container .about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
#about .about-container .about-info .info-card h4{
    font-size: 20px;
}
#skills{
    padding-top: 130px;
    /* background-color: aqua; */
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: #181818; */
    text-align: center;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}
#skills .skills-container .skill-box .skill-card{
    background-color: #FFFFFF;
    text-align: left;
    max-width: 267px;
    /* max-height: 377px; */
    /* border: 1px solid red; */
    padding: 30px;
    box-shadow: 0px 6px 50px 0 #00000027;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
#skills .skills-container .skill-box .skill-card h3{
    color: #181818;
    font-size: 20px;
    margin-bottom: 20px;
}
#skills .skills-container .skill-box .skill-card p{
    color: #757575;
    font-size: 16px;
    max-width: 201px;
    line-height: 28px;
}















/* #skills .skills-container .section-heading{
    padding: 50px;
}
#skills .skills-container .skill-box .skill-card img{
    padding: 30px 193px 30px 30px;
    max-width: 44px;
}
 */